<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^login$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="login.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^logout$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^category/(.*)-trang-(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="pages/category.php?url={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^category/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="pages/category.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^dl/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="pages/download.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="pages/post.php?url={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
